body {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box{
    margin: 100px;
    width: 100px;
    height: 100px;
    background: blueviolet;
    transform: rotate(200deg);
}